/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
/* Typography */

.date {
    font-family: "Sometype Mono", monospace;
    color: grey;
    font-size: 1.5rem;
}


header {
    background-image: url(../img/wall.png);


}

main {
    background-image: url(../img/cork.png);
    padding-top: 5%;
    padding-bottom: 5%;

}

h1 {
    font-size: 6rem;
    margin: 25px 0;
    font-family: "Edu TAS Beginner", sans-serif;
}

span {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
}


.card {
    background-color: white;
    padding: 20px;
    height: 100%;
    position: relative;
    max-width: 25%;

}


.container {
    gap: 2rem;
    margin: auto;
}


/* Layout */





/* Flex */
.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}




/* Utilities */

.card-text {
    padding-bottom: 5%;
    padding-top: 10px;
}

.pin {
    position: absolute;
    bottom: 96%;
    left: 48%;
}

.rotate:hover {
    transform: rotate(25deg);
}

.rotate {
    transition: transform 0.3s ease;
}

.rotate:hover .pin {
    display: none;
}



/* RESPONSIVE */

/* Tablet (tra 768px e 1024px) */
@media (max-width: 1024px) {
    .card {
        max-width: 45%;
    }

    h1 {
        font-size: 4rem;
    }

    span {
        font-size: 1.8rem;
    }
}


/* Mobile (meno di 768px) */
@media (max-width: 768px) {
    .card {
        max-width: 90%;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    span {
        font-size: 1.5rem;
    }
}