/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
/* Typography */

.date {
    font-family: "Sometype Mono", monospace;
}


header {
    background-image: url(../img/wall.png);
}

main {
    background-image: url(../img/cork.png);
}

h1 {
    font-size: 5rem;
    margin: 25px 0;
    font-family: "Edu TAS Beginner", sans-serif;
}

.card {
    max-width: 22%;
    background-color: white;
    padding: 20px;
    height: 100%;
    position: relative;
}

/* Layout */





/* Flex */
.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}



/* Utilities */

.card p{
    padding: 15px;
}

.pin{
    position: absolute;
bottom: 96%;
left: 48%;
}