/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
/* Typography */

.date {
    font-family: "Sometype Mono", monospace;
}


header {
    background-image: url(../img/wall.png);
   

}

main {
    background-image: url(../img/cork.png);
     padding-top: 5%;
     padding-bottom: 5%;
   
}

h1 {
    font-size: 6rem;
    margin: 25px 0;
    font-family: "Edu TAS Beginner", sans-serif;
}

.card {
    background-color: white;
    padding: 20px;
    height: 100%;
    position: relative;
    max-width: 25%;

}


.container{
     gap: 2rem;
    margin: auto;
}


/* Layout */





/* Flex */
.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}




/* Utilities */

.card p {
    padding-bottom: 10%;
    padding-top: 10px;
}

.pin {
    position: absolute;
    bottom: 96%;
    left: 48%;
}